@import 'utilities/variables';

@import 'layout/navbar';
@import 'layout/banner';
@import 'layout/servicios';
@import 'layout/productos';
@import 'layout/staff';
@import 'layout/turnos';
@import 'layout/footer';





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






















