/*Main*/
  .banner{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/banner_inicio.jpeg');;
    height: 60rem;
    background-size: cover;
    background-position: center;
    .content-banner{
      max-width: 90rem;
      margin: 0 auto;
      padding: 25 rem 0;
      h2{
        color: $color_titulo_banner;
        font-size: 3rem;
        font-weight: 500;
        padding-top: 5rem;
        margin-bottom: 3rem;
        padding: 1.7rem;
      }
      p{
        color: $color_p_banner;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 2rem;
      }
    }
  }