/*Productos*/
.productos{
    background-color: #181823;
    padding-bottom: 50px;
    h2{
      margin-bottom: 40px;
      padding-top: 40px;
      text-align: center;
      font-size: 45px;
      color: #E9F8F9;
      font-family: $fuente_titulos;
    }
    .card-title{
      font-family: 'Oswald', sans-serif;
    }
    .card-text{
      font-family: $fuente_p;
    }
    
  }
  
  
 