/*Staff*/

.barberos{
    background-color: $color_principal_blanco;
    h2{
        margin-bottom: 40px;
        padding-top: 40px;
        text-align: center;
        font-size: 45px;
        @include font($font_color_negro,$fuente_titulos);
    }
    .contenedor_barberos{
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        flex-wrap: wrap; 
        padding-bottom: 40px;
        .item_barberos{
            display: flex;
            flex-direction: column;
            text-align: center; 
            @include size(300px,300px);

            border-radius: 50%; 
            overflow: hidden; 
            padding-bottom: 40px;
            img{
                @include size(100%,100%);
                object-fit: cover; 
            }
            p{
                margin-top: 5px; 
                font-size: 1.5rem;
                @include font($font_color_negro,$fuente_p);
            }
        }
    }
}
    
    
    
    
   
    
   
    
    
    
    