/*Turnos*/

.turnos{
    h2{
        font-size: 4em;
        text-align: center;
        color: $color_principal_blanco;
        font-family: $fuente_titulos;

    }
    p{
        color: $color_principal_blanco;
        font-family: 'Inclusive Sans', sans-serif;

    }
    .form-label{
        color: #E9F8F9;
        font-family: 'Inclusive Sans', sans-serif;
        }
    background-color: $color_principal_negro;
    padding: 3rem
    
}
  
    
  
    
    