@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Oswald&family=Playfair+Display:ital,wght@0,400;1,800&display=swap');
// paleta de colores 
$color_principal_negro: #181823;
$color_principal_blanco: #E9F8F9;

$color_titulo_banner:white;
$color_p_banner: whitesmoke;

$font_color_negro: #2f2f34;
$font_color_blanco_titles: #E9F8F9;

// fuentes 
$fuente_titulos: 'Oswald', sans-serif;
$fuente_p: 'Inclusive Sans', sans-serif;
